#color{
    background-color: aqua;
}
#one{
    font-size: 2em;
    background-color: gray;
    padding: 3%;
    
}
#sd{
    color: yellow;
    text-shadow: whitesmoke;
    font-size: 2em;
    background-image: url(photo-1552872673-9b7b99711ebb.avif);
}
#sdd{
    color: yellow;
    text-shadow: whitesmoke;
    font-size: 2em;
    background-image: url(photo-1552872673-9b7b99711ebb.avif) ,url(vertical-background.jpg);
    
}